body,
html {
  height: 100%;
  font-size: 1em;
  font-family: 'Poppins', sans-serif;
  position: relative;
}

body {
  background-color: rgb(67, 120, 236);
}

img {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

#display {
  text-align: center;
  margin-top: 20px;
  width: 900px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
}

.drum-pad {
  width: 25%;
  margin: 10px;
  margin-bottom: 20px;
  padding-top: 20px;
  border: 5px solid yellow;
  background-color: yellow;
  font-family: 'IBM Plex Sans', sans-serif;
  color: green;
  border-radius: 15px;
  transition: all 0.2s ease-in-out;
}

.drum-pad:hover {
  transform: scale(1.1) rotate(5deg);
}

.drum-pad:active {
  transform: scale(1) rotate (-5deg);
}

#currentlyPlaying {
  background-color: rgb(16, 182, 16);
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  font-size: 1.2em;
}

#attribution {
  margin-top: 40px;
  margin-bottom: 40px;
  color: yellow;
}

@media only screen and (max-width: 800px) {
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  #display {
    width: 100%;
    height: auto;
  }

  .drum-pad {
    width: 30%;
    padding: 0;
    margin: 5px 2px 5px 2px;
    border-radius: 5px;
    transition: none;
  }

  .drum-pad-text {
    /* Assuming this is on a mobile device */
    visibility: hidden;
    height: 0;
  }

  #currentlyPlaying {
    width: 100%;
    font-size: 1em;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  #attribution {
    font-size: 0.9em;
  }
}

@media only screen and (max-width: 432px) {
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  #display {
    width: 100%;
    height: auto;
  }

  .drum-pad {
    width: 25%;
    padding: 0;
    margin: 1px 2px 5px 2px;
    border-radius: 5px;
    transition: none;
  }

  .drum-pad-text {
    /* Assuming this is on a mobile device */
    visibility: hidden;
    height: 0;
  }

  #currentlyPlaying {
    width: 100%;
    font-size: 1em;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  #attribution {
    font-size: 0.9em;
  }
}
